<div class="row p-5">
	<div class="col-sm-12 text-center mb-4">
		<h2>Avaliações pendentes</h2>
	</div>
	<div class="col-sm-6">
		<evaluation *ngFor="let evaluation of allPending" [title]="evaluation.title" [date]="convert(evaluation.deadline)" [state]="theme(evaluation.deadline)" (click)="active(evaluation)"></evaluation>
	</div>
	<div class="col-sm-6" *ngIf="activate">
		<h2>Título</h2>
		<p>{{activate.title}}</p>
		<br>
		<h2>Data</h2>
		<p>{{convert(activate.deadline)}}</p>
		<br>
		<h2>Introdução</h2>
		<p>{{activate.introduction}}</p>
		<br>
		<button type="button" class="btn btn-outline-success btn-block" (click)="start()">Start</button>
	</div>
</div>